#root {
  width: 600px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: row;
}

input {
  font-size: 1em;
  flex-grow: 1;
}

button {
  font-size: 1em;
  flex-grow: 0;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
